@font-face {
  font-family: 'miso-bold';
  src: url('../assets/fonts/miso-bold.woff');
  src: url('../assets/fonts/miso-bold.ttf');
  src: url('../assets/fonts/miso-bold.ttf') format('truetype');
  src: url('../assets/fonts/miso-bold.woff') format('woff');
}